@import 'styles/variables.scss';
@import 'styles/functions.scss';
@import 'styles/mixins.scss';

.a-text {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0;
  white-space: pre-line;

  &[data-size='small'] {
    font-size: 12px;
    line-height: 22px;
  }
}
