@import 'styles/variables.scss';
@import 'styles/functions.scss';
@import 'styles/mixins.scss';

.a-arrow-text-link {
  display: inline-flex;
  align-items: center;
  transition: opacity $easing-normal $speed-fastest;

  @include hover() {
    opacity: $hover-opacity;
  }
}
.a-arrow-text-link__label {
  font-size: 14px;
  line-height: 1;
  color: $color-primary;
}
.a-arrow-text-link__icon-wrapper {
  width: 20px;
  height: 20px;
  margin-left: 4px;
  font-size: 0;
}
